@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  scrollbar-width: none;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: #5755c5;
  color: #fff;
}

.chat-window {
  background: hsla(0, 11%, 40%, 1);

  background: linear-gradient(
    90deg,
    hsla(0, 11%, 40%, 1) 0%,
    hsla(253, 8%, 23%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(0, 11%, 40%, 1) 0%,
    hsla(253, 8%, 23%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(0, 11%, 40%, 1) 0%,
    hsla(253, 8%, 23%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#715A5A", endColorstr="#37353E", GradientType=1 );
}

.chats-lists-section {
  scrollbar-width: none;
}

.main-chat-screen {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #646cff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* @media (width >= 750px ) {
  .auth-screen {
    display: flex;
    flex-direction: row;
  }
} */
